@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  color: #283655 !important;
  background-color: #f7afff !important;
  font-family: "rambla", sans-serif;
}
h2,
h3 {
  font-family: "audiowide", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #283655;
}
li {
  list-style-type: none;
}

/* -----------------------------header-----------------------------------*/

.navbar {
  background-color: #fafafa;
  opacity: 0.9;
  height: 42px;
  transition: 0.7s;
}
.navbar-nav {
  width: 80% !important;
  margin: 0 auto;
  justify-content: space-between;
}
header {
  background: url(./support-projet-4-master/media/header.jpg) no-repeat fixed
    50% 50%;
  text-align: center;
  height: 100vh;
  background-size: cover;
}
h1 {
  padding: 90px 0 10px 0;
  font-family: "Josefin sans", sans-serif;
  font-size: 4.3em;
  text-transform: uppercase;
}
#line {
  height: 1px;
  background-color: #b3aca7;
  width: 25%;
  margin: 0 auto;
}
h2 {
  padding: 20px 0 50px 0;
  font-size: 3em;
  text-transform: uppercase;
}
.presentation {
  height: 240px;
  margin-top: 20px;
}
.infos {
  border: 1px solid #b3aca7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.photo {
  border: 1px solid #b3aca7;
  position: relative;
}

.photo img {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  max-width: 95%;
  border-radius: 3px;
  box-shadow: 0 0 4px #111;
}
header .button {
  margin-top: 45px;
}
header .button a {
  padding: 20px;
  border: 1px solid #b3aca7;
  width: 300px;
}
header .button:hover a {
  background: #b3aca7;
  color: #e2edeb;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
